#sketch-view
  = form_for(sketch, url: url) do |f|
    #code-editor
      .container-fluid
        .row
          - if read_only
            = sketch.title
          - else
            = f.label :title
            = f.text_field :title, placeholder: "Sketch description ..."
          .editor.save-page
          = f.text_area :body, id: "input_value"

    #code-results
      .container-fluid
        .row
          #buttons
            %button#submit-button.btn.btn-default{type: "button"} Run
            - if !read_only
              %button#clear-editor-button.btn.btn-default{type: "button"} Clear Editor
              %button#clear-console-button.btn.btn-default{type: "button"} Clear Console
              = f.submit "Save Sketch", class: "btn btn-default", onclick: "infoStore()"
          #results

:javascript
  var editor;
  var infoStore = function() {
    document.getElementById("input_value").value = editor.getValue();
  };
  $(document).ready(function() {
    // workaround from http://stackoverflow.com/questions/15662337/can-ace-editor-support-multiple-code-editors-in-one-page
    $('.editor').each(function() {
        editor = ace.edit(this);
        var textarea = $('textarea[id="input_value"]').hide();
        editor.getSession().setValue(textarea.val());
        editor.setTheme("ace/theme/terminal");
        editor.getSession().setMode("ace/mode/ruby");
        editor.getSession().setTabSize(2);
        editor.getSession().setUseWrapMode(true);
        editor.$blockScrolling = Infinity;
        editor.setReadOnly();
     });
  });
