= form_for sketch do |f|
  #code-editor
    .container-fluid
      .row
        = f.label :title
        = f.text_field :title
        #editor
        = sketch.body
        = f.hidden_field :body, id: "input_value", value: ""

  #code-results
    .container-fluid
      .row
        #buttons
          %button#submit-button.btn.btn-default{type: "button"} Run
          %button#clear-editor-button.btn.btn-default{type: "button"} Clear Editor
          %button#clear-console-button.btn.btn-default{type: "button"} Clear Console
          - if user_signed_in?
            = f.submit "Save Sketch", class: "btn btn-default", onclick: "infoStore()"
        #results

%script{type: "text/javascript", src: "https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.0/ace.min.js", charset: "utf-8"}
%script{type: "text/javascript", src: "https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.0/mode-ruby.js", charset: "utf-8"}
%script{type: "text/javascript", src: "https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.0/theme-terminal.js", charset: "utf-8"}
%script{type: "text/javascript", src: "https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.0/ext-language_tools.js", charset: "utf-8"}
%script
  var editor = ace.edit("editor");
  editor.setTheme("ace/theme/terminal");
  editor.getSession().setMode("ace/mode/ruby");
  editor.getSession().setTabSize(2);
  editor.setReadOnly(false);
  editor.setHighlightActiveLine(true);
  var infoStore = function() {
  document.getElementById("input_value").value = editor.getValue();
  };