%section#sketches.container-fluid
  .row
    .col-md-2
    .col-md-8
      - if @sketches.empty?
        No Sketches
      - else
        .total-sketches
          = "You currently have #{@sketches.count} sketches"
        - @sketches.each do |sketch|
          .panel.panel-default
            .panel-heading
              .panel-title
                Share link:
                = link_to sketch_show_path(sketch.user.username, sketch.slug), sketch_edit_path(sketch.user.username, sketch.slug)
                = link_to "Delete", sketch_delete_path(sketch.user.username, sketch.slug), method: :delete, class: "btn btn-danger glyphicon glyphicon-trash pull-right", id: "delete-sketch"
            .panel-body
              = sketch.title
              %pre.editor
                = sketch.body

:javascript
  $(document).ready(function() {
    // workaround from http://stackoverflow.com/questions/15662337/can-ace-editor-support-multiple-code-editors-in-one-page
    var editor;
    $('.editor').each(function() {
        editor = ace.edit(this);
        editor.setTheme("ace/theme/terminal");
        editor.getSession().setMode("ace/mode/ruby");
        editor.getSession().setTabSize(2);
        editor.setReadOnly(true);
    });
  });