%section#sketches.container-fluid
  .row
    .col-md-2
    .col-md-8
      - if @sketches.empty?
        No Sketches
      - else
        = "You currently have #{@sketches.count} sketches"
        - @sketches.each do |sketch|
          .panel.panel-default
            .panel-heading
              = link_to "", sketch_delete_path(sketch.user.username, sketch.slug), method: :delete, class: "btn btn-danger glyphicon glyphicon-trash pull-right", id: "delete-sketch"
              .panel-title
                = sketch.title
            .panel-body
              %pre#editor-index.editor
                = sketch.body

%script{type: "text/javascript", src: "https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.0/ace.min.js", charset: "utf-8"}
%script{type: "text/javascript", src: "https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.0/mode-ruby.js", charset: "utf-8"}
%script{type: "text/javascript", src: "https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.0/theme-terminal.js", charset: "utf-8"}
%script{type: "text/javascript", src: "https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.0/ext-language_tools.js", charset: "utf-8"}
:javascript
  $(document).ready(function() {
    // workaround from http://stackoverflow.com/questions/15662337/can-ace-editor-support-multiple-code-editors-in-one-page
    var editor;
    $('.editor').each(function() {
      editor = ace.edit(this);
      editor.setTheme("ace/theme/terminal");
      editor.getSession().setMode("ace/mode/ruby");
      editor.getSession().setTabSize(2);
      editor.setReadOnly(true);
    });
  });

