!!!
%html
  %head
    %title Welcome to RubyPlex
    %meta{"name" => "viewport", "content" => "width=device-width, initial-scale=1"}
    = stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = javascript_include_tag "https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.0/ace.min.js"
    = javascript_include_tag "https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.0/theme-terminal.js"
    = javascript_include_tag "https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.0/mode-ruby.js"
    = javascript_include_tag "https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.0/ext-language_tools.js"
    %script Opal.load('opal-parser');
    = csrf_meta_tags
  %body
    %nav.navbar.navbar-default
      .navbar-header
      %ul.nav.navbar-right
        - if user_signed_in?
          %li.dropdown
            %a.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
              = current_user.name
              %span.caret
            %ul.dropdown-menu
              %li{role: "presentation"}
                = link_to sketches_index_path(current_user.username) do
                  Sketches
                  %span.badge= current_user.sketches.count
              %li=link_to "New Sketch", new_sketch_path
              %li= link_to "Edit Profile", edit_user_registration_path
              - if current_user.admin?
                %li= link_to "Site Administration"
              %li.divider{role: "separator"}
              %li= link_to "Log Out", destroy_user_session_path, method: :delete
        - else
          .list-inline
            %li= link_to "Sign In", new_user_session_path
            |
            %li= link_to "Register", new_user_registration_path
    - if flash[:notice]
      .alert.alert-success
        %button.close{"data-dismiss" => "alert", type: "button"} ×
        = flash[:notice]
    - elsif flash[:error]
      .alert.alert-danger
        %button.close{"data-dimiss" => "alert", type: "button"} ×
        = flash[:error]
    - elsif flash[:alert]
      .alert.alert-warning
        %button.close{"data-dismiss" => "alert", type: "button"} ×
        = flash[:alert]
    = yield

