!!!
%html
  %head
    %title Welcome to RubyPlex
    %meta{"name" => "viewport", "content" => "width=device-width, initial-scale=1"}
    = stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = javascript_include_tag "http://cdnjs.cloudflare.com/ajax/libs/jquery/1.8.3/jquery.min.js"
    = csrf_meta_tags
  %body
    = yield

